<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <!-- Missing login -->
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <!-- redirecciones a paginas especificas -->
    <servlet>
        <servlet-name>signin.html</servlet-name>
        <jsp-file>/signin.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LandingS</servlet-name>
        <servlet-class>Controller.LandingS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfS</servlet-name>
        <servlet-class>Controller.PdfS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin.html</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signup.html</servlet-name>
        <jsp-file>/signup.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup.html</servlet-name>
        <url-pattern>/signup/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>con_signup.html</servlet-name>
        <jsp-file>/con_signup.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>con_signup.html</servlet-name>
        <url-pattern>/connect_signup/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dash.jsp</servlet-name>
        <jsp-file>/dash.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dash.jsp</servlet-name>
        <url-pattern>/dash/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dash_redaccion.jsp</servlet-name>
        <jsp-file>/dash_redaccion.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dash_redaccion.jsp</servlet-name>
        <url-pattern>/redaccion/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>edit_redaccion.jsp</servlet-name>
        <jsp-file>/edit_redaccion.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_redaccion.jsp</servlet-name>
        <url-pattern>/redaccion_editar/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dash_revision.jsp</servlet-name>
        <jsp-file>/dash_revision.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dash_revision.jsp</servlet-name>
        <url-pattern>/revision/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>edit_revision.jsp</servlet-name>
        <jsp-file>/edit_revision.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_revision.jsp</servlet-name>
        <url-pattern>/revision_editar/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dash_enviadas.jsp</servlet-name>
        <jsp-file>/dash_enviadas.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dash_enviadas.jsp</servlet-name>
        <url-pattern>/enviadas/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>edit_enviadas.jsp</servlet-name>
        <jsp-file>/edit_enviadas.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_enviadas.jsp</servlet-name>
        <url-pattern>/enviadas_editar/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>plata.jsp</servlet-name>
        <jsp-file>/plata.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>plata.jsp</servlet-name>
        <url-pattern>/plata/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemandaS</servlet-name>
        <servlet-class>Controller.DemandaS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorS</servlet-name>
        <servlet-class>Controller.AdministradorS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContestacionS</servlet-name>
        <servlet-class>Controller.ContestacionS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioS</servlet-name>
        <servlet-class>Controller.UsuarioS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemandaS</servlet-name>
        <url-pattern>/DemandaS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorS</servlet-name>
        <url-pattern>/AdministradorS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContestacionS</servlet-name>
        <url-pattern>/ContestacionS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioS</servlet-name>
        <url-pattern>/UsuarioS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandingS</servlet-name>
        <url-pattern>/LandingS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfS</servlet-name>
        <url-pattern>/PdfS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
